{% extends "_base.html" %}

{% load i18n %}
{% load account %}

{% block content %}

  <section class="blog_area section-padding mt-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="blog_left_sidebar">
            
            <h1>Resetar senha</h1>
    
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            
            <p>Um e-mail foi enviado. Entre em contato conosco se você não o receber dentro de alguns minutos.</p>
            
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}