{% extends '_base.html' %}

{% load widget_tweaks %}

{% block content %}

<section class="blog_area section-padding mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="blog_left_sidebar">
          <h1 class="widget_title">Set password</h1>
          <form class="form-contact contact_form" action="{% url 'account_set_password' %}" method="post">
            {% csrf_token %}

            {{ form.as_p }}
            <button type="submit" class="genric-btn primary-border e-large">Set password</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
