{% extends '_base.html' %}

{% load widget_tweaks %}

{% block content %}

<section class="blog_area section-padding mt-5">
  <div class="container">
    <div class="row">
      <div class="container box_1170">
        <div class="blog_left_sidebar">
          <h3 class="widget_title">Cadastro</h3>
          <form class="form-contact contact_form" method="post" action="{% url 'signup_pro' %}">
            <div class="row">
              {% csrf_token %}

              {% for hidden in form.hidden_fields %}
                {{ hidden }}
              {% endfor %}

              {% if form.errors %}
                {% for field in form %}
                  {% for error in field.errors %}
                    <div class="col-4">
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                    </div>
                  {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
                {% endfor %}
              {% endif %}

              {% for field in form %}
                <div class="col-12">
                  <div class="form-group">
                    {{ field.label_tag }}
                    {{ field|add_class:'form-control' }}

                    {% for error in form.field.errors %}
                      <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>
                </div>
                {% endfor %}  
            </div>

            <div class="row">
              <div class="col-12">
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input termos" id="exampleCheck1" name="termos2"
                  value="false" onclick="ativar(this.checked)">
                  <label class="form-check-label" for="exampleCheck1" >
                    Li e concordo com os <a href="{% url 'termos' %} " target="_blank"
                    style="color: orangered !important;">
                      Termos e condições
                    </a>
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-12 mt-4 text-center">
                  <h4>Você é profissional?</h4>
                  <button type="submit" class="genric-btn primary e-large w-100"
                   name="professional" disabled style="background-color: #FF450060;">
                    Faça seu assessment
                  </button>
                </div>

                <div class="col-md-6 col-xs-12 mt-4 text-center">
                  <h4>Você é recrutador?</h4>
                  <button type="submit" name="hh_button" class="genric-btn primary e-large w-100 btn2"
                   name="recrutador" disabled style="background-color: #FF450060;">
                    Inicie agora a sua busca
                  </button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function ativar(e){
  // var check = document.querySelector(".termos");
  let bt = document.querySelector(".genric-btn");
  let bt2 = document.querySelector(".btn2");
  // var bt2 = document.querySelector("recrutador");

  // bt.style.display = e ? "flex" : "none";

  if(e == true){
      bt.removeAttribute("disabled");
      bt2.removeAttribute("disabled");

      bt.style.backgroundColor = "#FF4500";
      bt2.style.backgroundColor = "#FF4500";
      // bt2.removeAttribute("disabled");
  }
  else{
      bt.setAttribute("disabled", true);
      bt2.setAttribute("disabled", true);

      bt.style.backgroundColor = "#FF450060";
      bt2.style.backgroundColor = "#FF450060";
      // bt2.setAttribute("disabled");
  } 
}

</script>

{% endblock content %}