{% extends '_base.html' %}

{% load widget_tweaks %}

{% block content %}

<div class="col-8 m-auto" style="margin-top: 180px !important;">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut magnam placeat vel. Quia cumque adipisci ad. Voluptatum eaque laboriosam aliquid quibusdam maiores! Ullam illum hic fugiat repudiandae quasi, excepturi repellat?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut magnam placeat vel. Quia cumque adipisci ad. Voluptatum eaque laboriosam aliquid quibusdam maiores! Ullam illum hic fugiat repudiandae quasi, excepturi repellat?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut magnam placeat vel. Quia cumque adipisci ad. Voluptatum eaque laboriosam aliquid quibusdam maiores! Ullam illum hic fugiat repudiandae quasi, excepturi repellat?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut magnam placeat vel. Quia cumque adipisci ad. Voluptatum eaque laboriosam aliquid quibusdam maiores! Ullam illum hic fugiat repudiandae quasi, excepturi repellat?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut magnam placeat vel. Quia cumque adipisci ad. Voluptatum eaque laboriosam aliquid quibusdam maiores! Ullam illum hic fugiat repudiandae quasi, excepturi repellat?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut magnam placeat vel. Quia cumque adipisci ad. Voluptatum eaque laboriosam aliquid quibusdam maiores! Ullam illum hic fugiat repudiandae quasi, excepturi repellat?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut magnam placeat vel. Quia cumque adipisci ad. Voluptatum eaque laboriosam aliquid quibusdam maiores! Ullam illum hic fugiat repudiandae quasi, excepturi repellat?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut magnam placeat vel. Quia cumque adipisci ad. Voluptatum eaque laboriosam aliquid quibusdam maiores! Ullam illum hic fugiat repudiandae quasi, excepturi repellat?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut magnam placeat vel. Quia cumque adipisci ad. Voluptatum eaque laboriosam aliquid quibusdam maiores! Ullam illum hic fugiat repudiandae quasi, excepturi repellat?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut magnam placeat vel. Quia cumque adipisci ad. Voluptatum eaque laboriosam aliquid quibusdam maiores! Ullam illum hic fugiat repudiandae quasi, excepturi repellat?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut magnam placeat vel. Quia cumque adipisci ad. Voluptatum eaque laboriosam aliquid quibusdam maiores! Ullam illum hic fugiat repudiandae quasi, excepturi repellat?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut magnam placeat vel. Quia cumque adipisci ad. Voluptatum eaque laboriosam aliquid quibusdam maiores! Ullam illum hic fugiat repudiandae quasi, excepturi repellat?
</div>

{% endblock content %}
